*{
    padding: 0px;
    margin: 0px;
    font-family: Arial,sans-serif;
}

header, a, nav,aside, article, section, footer, main{display: block;}

#wrapper{
    margin: 0px auto;
    width: auto;
    max-width: 1000px;
    height: 1000px;
}

a {text-decoration: none;}

.clear{clear: both;}

.userName{
    float: left;
}

/*------index page----------------------------------------------*/

#index_page h1{
    margin-top: 30px;
    font-size: 30px;
    float: left;
    width: 200px;
    color: #000000;
}

#index_page h1.goToNextPage{
    float: left;
    color: darkgreen;
    width: 30px;
}
#index_page #menu{
    position: absolute;
    top: 240px;
    left: 230px;
}

#index_page #logo{
    background-image: url("../images/paoton_logo.png");
    background-repeat: no-repeat;
    display: block;
    width: 534px;
    height: 254px;
    position: absolute;
    left: 650px;
    top: 200px;
}

/*------main page-----------------------------------------*/

#main_page #logo{
    background-image: url("../images/small_logo.png");
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
    float: right;
}

#main_page .groups{
    margin-left: 15%;
}
#main_page .groups a{
    height: 200px;
    width: 200px;
    float: left;
}
#main_page .groups :nth-child(1){
    background-image: url("../images/4.png");
    background-repeat: no-repeat;
}
#main_page .groups :nth-child(2){
    background-image: url("../images/3.png");
    background-repeat: no-repeat;
}
#main_page .groups :nth-child(3){
    background-image: url("../images/2.png");
    background-repeat: no-repeat;
}
#main_page .groups :nth-child(4){
    background-image: url("../images/1.png");
    background-repeat: no-repeat;
}

#main_page a p{
    position: absolute;
    bottom: 50px;
    right:250px;
}

#main_page .groups{
    position: absolute;
    top: 300px;
    left:150px;
}

/*------groups---------*/
#groups_page .kids a{
    float: right;
}
#groups_page .kids a img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 25px;
    border: 5px solid #acacac;
}

#groups_page .kids a img.warning_msg{
    border: 5px solid #ea1111;
}
#groups_page .kids a img p{
    display: block;
    width: 50px;
    margin-left: 60px;
}

/*--------kids---------*/

#kids_page img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    float: right;
}

#kids_page section.chosenKid{
    display: block;
    width: 300px;
    float: right;
}
