/*---media query------*/
@media (min-width: 800px){
    .card-deck {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-left: -15px;
        margin-right: -15px;
    }

/*---general------*/
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial,sans-serif;
}

a {text-decoration: none;}

.breadcrumb {
    background-color: inherit;
}
.breadcrumb a {
    color: #00a743;
}

#logo{
        background-image: url("../images/small_logo.png");
        background-repeat: no-repeat;
        display: block;
        width: 123px;
        height: 60px;
        position: absolute;
        right: 20px;
        top: 10px;
}
/*---navbar------*/

#nav_top_item {
    background-color: #00a743;
    height: 50px;
    width: 200px;
    text-align: center;
    color: white;
}

a.nav-link{
        margin-top: 18px;
}

.nav-link:hover {
        color: white;
        background-color: #00a743;
}

.navbar-brand img {
        height: 50px;
        width: 90px;
}

/*---index page------*/

 #index_page #logo{
        background-image: url("../images/paoton_logo.png");
        background-repeat: no-repeat;
        display: block;
        width: 534px;
        height: 254px;
        position: relative;
        float: right;
        top: 200px;
        right: 10%;
}

#index_page a{
    display: block;
}
#index_page h1{
    margin-top: 30px;
    font-size: 30px;
    float: left;
    width: 200px;
    color: #000000;
}

#index_page h1.goToNextPage{
    float: left;
    color: darkgreen;
    width: 30px;
}

#index_page #menu{
    display: block;
    width: 250px;
    height: 200px;
    float: right;
    position: relative;
    top: 220px;
    right: 20%;
}

/*---data pages------*/

.userName {
    text-align: left;
}

.fa-user {
    color: #00a743;
    padding-left: 10px;
}

a h5{
    color: #00a743;
}
a h5:hover{
    color: #acacac;
    font-weight: bold;
}
#top_search_bar {
    float:left;
}

.card-header img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: inline-block;
}
img.card-img-top{
    padding-top: 50px;
}
h5.card-title{
    text-align: center;
    padding-top: 10px;
}
#kid_details {
    display: inline-block;
    background-color: red;
    padding-right: 60px;
    width: 60%;
}

.card-deck .card-img-top {
    width:35%;
    height: 50%;
    margin: 0 auto;
}

section#continue {
    padding-top: 30px;
    text-align: center;
    color: #00a743;
}

section .fa-arrow-circle-down {
    font-size: 30px;
}}

#groups_page .kids a{
    float: right;
}
#groups_page .kids a img{
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: 25px;
    margin-top: 5px;
    border: 5px solid #acacac;
}

#groups_page .kids a img.warning_msg{
    border: 5px solid #ea1111;
}
#groups_page .kids a img p{
    display: block;
    width: 50px;
    margin-left: 60px;
}
#groups_page .kids a h5{
    text-align: center;
    color: #00a743;

}
 #groups_page .kids a h5:hover{
    color: #acacac;
     font-weight: bold;
}

 #groups_page .kids #center_plus{
     margin: 0 45%;
}

#kids_page #kids_section {
    display: none;
}
#kids_page .kids a{
    float: right;
}
#kids_page .kids a img{
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: 25px;
    margin-top: 5px;
    border: 5px solid #acacac;
}

#kids_page .kids a img.warning_msg{
    border: 5px solid #ea1111;
}
#kids_page .kids a img p{
    display: block;
    width: 50px;
    margin-left: 60px;
}
#kids_page .kids a h5{
    text-align: center;
    color: #00a743;

}
 #kids_page .kids a h5:hover{
    color: #acacac;
     font-weight: bold;
}

 #kids_page .kids #center_plus{
     margin: 0 45%;
}

#messageAlert{
    width: 500px;
    height: 320px;
    position: absolute;
    top: 200px ;
    left: 180px;
    margin-right: 20%;
    margin-left: 20%;
    display: none;
}

form{
    padding: 20px;
}


#messageInput{
    width: 500px;
    height: 320px;
    position: absolute;
    top: 200px ;
    left: 180px;
    margin-right: 20%;
    margin-left: 20%;
    display: none;

}
.submitCancelButtons{
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    width: 80px;
}
textarea{
    margin-bottom: 25px;
}

input {
    float: left;
}

input label{
    display: block;
    width: 300px;

}

div.form-check-label{
     display: block;
     width: 200px;
     text-align: right;
 }

label.form-check-label{
    display: block;
    width: 380px;
    text-align: right;
}

#treatment_box .modal-header {
    direction: rtl;
}

#treatment_box .modal-footer {
    margin-right:54%;
}

#treatment_box .modal-footer button {
    margin-right: 10px;
}